/* Folha de Estilo - Stream'n'Roll */
@charset utf-8;

/*Font*/
.fantasyfont{
	font-family: 'Metamorphous', cursive;
}
.txtbreak{
	word-break: break-word;
}
/* navbar*/
.customnav{
	display: flex;
	background-color:#111;
	padding:5px;
}
#navprofbox{
	width:100%;
	display:block;
	margin-bottom:1vh;
}
#navprofbox img{
	margin:0 27%;
}
#navprofile p{
	color:white;
	font-size:20px;
	overflow-y:hidden;
	width:100%;	
	display:block;
	text-align:center;
}
.navprofile{
	border-bottom:1px solid #474747;
	border-top:1px solid #474747;
	padding:2vh;
	margin-top:-6px;
}
.navbutton{
	text-align:center;
}
.navbutton button{
	width:80px;
	
}
.navbutton div{
	display:inline-block;
	width:41.3px;
}
#imgsession{
	height:40px;
	flex:1;
	cursor:pointer;
}
#navbutton{
	flex:0.05;
	line-height: 1;
	font-size:35px;
	color:white;
	cursor:pointer;
	display:inline-block;
	text-align:center;
	height:40px;
	width:40px;
}

#chatButton{
	padding:10px 15px 5px 5px;
	color:white;
	cursor: pointer;
}
#chatButton #notify{
	color:#ff5959;
	margin:-30px 0 0 0;
	position:relative;
	top:-4px;
	left:4px;
	
}
/* chatcaller */
#callchat{
	width:0;
	height:100%;
	border-radius:10px 0 0 10px;
	border-left:0;
	border-right:0;
	position: fixed;
	top: 0;
	right: 0;	
	z-index: 99;
	background-color:white;
	transition: 0.3s; 	
}
/* sidenavbar */
.sidenav {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
  border-right:0px solid #474747;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: -15px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Login e Registrar */
#titulo1 {
	text-align:center; 
	margin: 50px;
}

#clogin {
	background: url(../img/teste.jpg);
	position: relative; 
	background-size: cover; 
	height: 640px; 
	width: 1200px;
}

.center {
	margin: 0px;
	position: absolute;
	top: 35%; 
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#titulo2 {
	color: #fff;
	text-align:center;
	font-family: 'Press Start 2P', cursive;
}	

#btnlogin {
	width:140px;
	height:60px;
	margin:140px 70px 0px 40px;
}

#btnregister {
	width:140px;
	height:60px;
	margin:140px 0px 0px 70px;
}

#btnor {
	margin:140px 0px 0px 0px;
	width:70px;
    height:70px;
    border-radius:45px;
    font-size:20px;
    color:#fff;
    line-height:50px;
    text-align:center
}


/* Imagens portraits*/
#pic{
     display: none;
	 }
#portrait{
  height:125px;
  width:125px;
  border-radius:10px;
  box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  cursor: pointer;
  object-fit: cover;  
}


/* Para uso em todas as abas */
 #txtboxgeral {
	 margin:30px 0px 30px 20px;
	 font-size:18px;
 }
 
 #titulogeral {
	 text-align:center;
	 margin-top:30px;
 }
 
 #containergeral {
	 border: 25px solid #A0522D;
	 border-radius: 40px 20px;
	 border-style: outset;
	 padding: 0px 0px 50px 0px;
 }
 
 #formcentralizar {
	 margin: 0 auto;
	 width: 50%;
 }


/* Aba - Perfil do Usuario */
#namesession:hover {
    color: 	#A0522D !important;
}

#namesession {
	font-size:20px;
}

#userPhoto {
	width:200px;
	height:200px;
	margin:80px 0px 20px 250px;
	border: 5px solid #A0522D;
}

#returnMain:hover {
	text-decoration: none; 
}

#returnMain {
	font-size:35px;
}

#btnlogout {
	font-size:20px;
}

#perfil {
    margin: 30px 0px 30px 0px;
	position: center;
}

 #btnperfil {
	 margin: 70px 0px 0px 0px;
	 text-align:right;
}
 

 /* Aba - Alteração de Senha */
 #senha {
    margin: 30px 0px 30px 0px;
	position: center;
}

 #btnsenha {
	 margin: 20px 0px 0px 0px;
	 text-align:right;
}


 /* Aba - Alteração de E-mail*/
 #email {
    margin: 30px 0px 30px 0px;
	position: center;
}

 #btnemail {
	 margin: 20px 0px 0px 0px;
	 text-align:right;
}

/*Ficha*/
#sheet{	
	/*background-image: url("../img/customsheetref.png");*/
	min-width: 1300px;
	max-width: 1315px;
}
@media only screen and (max-width: 600px) {
  #sheet {
   min-width: 0px;
  }
}
/*Ficha - input padronizado*/
.imputihidden{
	border:none;
	background-color:transparent;
	border-bottom: 1px solid black;
}
.imputihidden:focus{
	border:none;
	background-color:transparent;
}
/*Ficha - imagem do personagem*/
#cimage{
	margin:26px 0px 0px 9px;
}
/*Ficha - input padronizado*/
#characterinfo{
	font-size:12px;
	height:123px;
	position:relative;
	top:50px;
	left:15px;
}
/*Ficha - Detalhes do personagem*/
#characterdetail{
	font-size:12px;
	height:123px;
	position:relative;
	top:50px;
	left:15px;
}
/*Ficha - Lista de Proficiencia*/
.sheetprof{
	font-size:30px;
	margin-right:-40px;
	width:40px;
	height:40px;
	border-color:black;
	text-align:center;
	border-radius:50px;
	position:relative;
	left:635px;
	bottom:20px;
	z-index:2;
}
.proflabel{
	margin-right:-105px;
	height:30px;
	width:105px;
	font-size:12px;
	font-weight:bold;
	background-color:white;
	color:black;
	border: 2px solid black;
	border-radius:10px;
	position:relative;
	left:552px;
	bottom:14px;
	z-index:1;
}
#perices{
	column-count: 3;
	
	font-size:12px;
	font-weight: bold;
	text-align:justify;
	padding-top:10px;
	padding-bottom:5px;
	overflow: auto;	
}
.checkinfo{
	color:black;
	width:12px;
}
/*Ficha - Habilidade Principais*/
#mainhab{
	font-size:12px;
	font-weight: bold;
}
/*Ficha - Caixa de Habilidades*/
.habbox{
	height: 90px;
	width:80px;
	text-align:center;
	margin:0px 0px 20px 0px;
	border: 2px solid black;
	border-radius:5px;
}
/*Ficha - Caixa de Vida cheia*/
.fullv{
	border:none;
	background-color:transparent;
	font-size:40px;
	text-align:center;
	position:relative;
	top:-20px;
	left:0px;
}
.fullvhp{
	border:none;
	background-color:transparent;
	font-size:40px;
	text-align:center;
	position:relative;
	bottom:15px;
	left:-1px;
}
.modv{
	border: 2px solid black;
	font-weight: bold;
	color:black;
	text-align:center;
	font-size:20px;
	background-color:white;
	border-radius: 15px;
	position:relative;
	bottom:30px;
	right:0px;
}
.modvhp{
	border: 2px solid black;
	font-weight: bold;
	text-align:center;
	font-size:10px;
	background-color:white;
	border-radius: 15px;
	position:relative;
	bottom:17px;
	right:25px;
}
.modvtemp{
	border: 2px solid black;
	font-weight: bold;
	text-align:center;
	font-size:10px;
	background-color:white;
	border-radius: 15px;
	position:relative;
	bottom:38px;
	left:25px;
}
/*Ficha - Info do pesonagem*/
#charinfo{
	font-size:11px;
	font-weight: bold;
	padding-top:20px;
	padding-left:25px;
}
/*Ficha - Death Saving*/
#ds{
	font-size:9px;
	font-weight: none;
	position:relative;
	bottom:10px;
}
/*Ficha - Lista de Ataques*/
#atkbanner{
	border-bottom:2px solid black;
	color:black;
}
#atkh3{
	font-family: 'Metamorphous', cursive;
	display:inline;
}
#addatk{
	color:black;
	position:relative;
	left:500px;
	display:inline-block;
	margin:0px;
}
#addatk:hover{
	color:gray;
}
.atkline{
	border:none;
	border-bottom: 2px solid black;
	border-radius:5px;
}
.atkline:focus{
	outline:none;
}
.atktitle{
	font-size:14px;
	font-weight:bold;
}
/*Ficha - Lista de Magia*/
#magiclist{
	column-count:3;
}
.mgtitle{
	width:80px;
	font-size:14px;
	font-weight:bold;
	background-color:white;
	color:black;
	border: 2px solid black;
	border-radius:10px;
	z-index:98;
}
.mgmax{
	text-align:center;
	width:30px;
	height:30px;
	font-size:14px;
	font-weight:bold;
	background-color:white;
	color:black;
	border: 2px solid black;
	border-radius:10px;
	position:relative;
	right:25px;
	z-index:98;
}
.mgmax:focus{
	outline:none;
}
.mgatual{
	text-align:center;
	width:60px;
	font-size:12px;
	font-weight:bold;
	background-color:white;
	color:black;
	border: 2px solid black;
	border-radius:10px;
	position:relative;
	right:40px;
	z-index:97;
}
.mgatual:focus{
	outline:none;
}
.mgadd{
	color:black;
	display:inline-block;
	z-index:98;
	position:relative;
	right:93px;
	bottom:1px;
}
.mgadd:hover{
	color:grey;
}
.mgaddbox{
	display:inline-block;
	width:40px;
	font-size:12px;
	font-weight:bold;
	background-color:white;
	color:black;
	border: 2px solid black;
	border-radius:10px;
	position:relative;
	right:60px;
	z-index:96;
}
.mgcollapse{
	border: 2px solid black;
	border-radius:10px;
	padding:10px;
	width:280px;
	margin-top:-5px;
}
.mgname{
	border:none;
	border-bottom: 2px solid black;
	width:280px;
	border-radius:5px;
	margin-top:2.5px;
	margin-bottom:5px;
	font-size:14px;
	font-weight:bold;
}
.mgname:focus{
	outline:none;
}
.mgconfig{
	color:black;
}
.mgconfig:hover{
	color:grey;
	text-decoration:none;
	
}
.mgtext{
	border:none;
	border-bottom: 2px solid black;
	width:200px;
	border-radius:5px;
	font-size:12px;
	
}
.mglabel{
	font-size:11px;
	display:inline-block;
	width:48px;
}
.customsheet{
	position:relative;
	bottom:0px;
	margin-top:-10px;
}
.sheetbox{
	border: 2px solid black;
	border-radius:10px;
}
/*Ficha - Padronização de caixa de texto*/
.infotextbox{
	border:2px solid black;
	border-radius:10px;
}
#monetary{
	width:45px;
	text-align:center;
	font-weight:bold;
	margin-bottom:-100px;	
	margin-top:-250px;
	color:black;
	font-size:15px;
	position:relative;
	left:250px;
	top:24px;
	background-color:white;
	border: 2px solid black;
	border-radius:5px;
	padding:1px;
	padding-bottom:2px;
	padding-top:0px;
}
.moneyinput{
	font-size:12px;
	border: 2px solid black;
	border-radius:5px;
	width:35px;
	text-align:center;
	z-index:-999;
}
.moneylabel{
	display:block;
	width:35px;
	line-height:1;
	margin-bottom:0px;
	
}
/*Ficha - Informações de magia*/
#magicinfo{
	font-size:12px;
	font-weight:bold;
}
#cconjlabel{
	font-size:14px;
}
#cconjclass{
	text-align:center;
	border:none;
	border-bottom: 2px solid black;
	border-radius:5px;
	width:100px;
}
#cconj{
	border:2px solid black;
	border-radius:5px;
	padding:5px;
	margin-top:10px;
	margin-bottom:10px;
}
.conjbox{
	height: 90px;
	width:80px;
	text-align:center;
	margin:auto;
	border: 2px solid black;
	border-radius:5px;
}
.mgishow{
	background-color:transparent;
	width:70px;
	text-align:center;
	font-size:25px;
	border:none;
}
.mgishow:hover{
	border-bottom:1px solid black;
	
}
/*Ficha - Outras proficiencia e linguas*/
#langprof{
	
}
/*Ficha - Barra de ações da ficha*/
.sheetactionbar{
	position:fixed;
	top:80vh;
	border:1px solid black;
	background-color:white;
	width:40px;
	padding:2px;
	padding-top:5px;
	padding-bottom:5px;
	z-index:1;
	border-radius: 0 10px 10px 0;
}
.sheetactionbar picture{
	cursor:pointer;
}
#dicesroll{
	border:1px solid black;
	background-color:white;
	height:45px;
	width:0;
	overflow:hidden;
	display:inline;
	position:fixed;
	top:80vh;
	left:0;
	padding:0;
	border-radius:10px;
	transition:0.3s;
}
.actdices{
	color:black;
	display:inline-block;
	cursor: pointer;
}
#diceres{
	display:block;
	position:fixed;
	top:0;
	left:0;
	visibility:hidden;
	margin-left:35vw;
	margin-top:40vh;
	padding:20px;
	width:400px;
	height:200px;
	border:4px solid black;
	background-color:white;
	z-index:100;
	color:black;
}
#diceresh{
	text-align:center;
	font-size:30px;
	font-weight:bold;
}
#diceresclose{
	position:relative;
	top:0;
	left:340px;
	margin-bottom:-30px;
	display:block;
	font-size:30px;
	font-family:monospace;
	line-height: 0;
	width:30px;
	height:30px;
	cursor:pointer;
}
#diceresclose:hover{
	color:gray;
}
#diceresfull{
	text-align:center;
	margin:auto;
	margin-top:40px;
	width:100px;
	line-height: 0.8;
	font-size:35px;
	font-family:monospace;
	font-weight:bold;
	border-bottom: 3px solid black;
}
#darkbg{
	display:block;
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:black;
	visibility:hidden;
	opacity: 0;
	z-index:98;
	transition:0.3s;
}
/* Chat */
/* Navbar chat*/
#chatnav{
	display:flex;
	height:7vh;
	
}
#closechat{
	color:black;
	font-size:25px;
	position:relative;
	left:20px;
	cursor: pointer;
}
#chatname{
	text-align:center;
	margin:auto;
	color:black;
}
#chatlabel{
	font-weight:bold;
	font-size:20px;
	margin-bottom:0px;
	margin-top:-2px;
	font-family:'Metamorphous',monospace;
}
#chatsession{
	margin-top:-10px;
	font-size:18px;
	font-family:'Open Sans',sans-serif;
}
/* Caixa de Mensagens */
#chat{
	display:flex;
	overflow:hidden;
}
.msg{
	background-color:#dcf8c6;
	padding:5px 10px;
	border-radius: 5px;
	margin-bottom:8px;
	margin-left:8px;
	margin-right:8px;
	width:fit-content;
}
.msg p{
	margin:0px;
	font-weight:bold;
}
.msg .res{
	margin-top:-5px;
	font-weight:bold;
	font-size:1.5rem;
	text-align:center;
	opacity: 0.7;
}
.msg .res span{
	display:block;
	text-align:center;
	margin-top:-10px;
	font-size:0.7rem;
	font-weight:normal;
	margin-left:0px;
	
}
.msg span{
	font-size:0.7rem;
	margin-left:15px;
}
.msginput{
	padding: 10px;
	margin: 10px 5px;
	-webkit-appearance:none;
	border:1px solid black;
	border-radius: 5px;
	cursor: pointer;
}
.msgdices{
	cursor: pointer;
}	
#messages{
	height:81.9vh;
	overflow-x:hidden;
	background-image:url('../img/chatback.png');
	background-size: 500px 500px;
	padding-top:10px;
}
#message{
	flex:1;
}
/* Userprofile - Mesa */
#mesas{
	transition:0.3s;
	height:76vh;
 }
 .clickbg{
	position:fixed;
	top:0;
	left:0;
	display:block;
	background-color:pink;
	height:100%;
	width:100%;
	z-index:9996;
	opacity:0;
	visibility: hidden;
 }
 #infomesa{
	position:fixed;
	bottom:0;
	right:0;
	height:84.5vh;
	width:0;
	background-color:white;
	z-index:9997;
	padding:0;
	box-shadow: -3px 0 3px #ededec;
	//border-left: 1px solid gray;
 }
 #imgmesa{
	height:150px;
	width:300px;
	margin:0 -10px;
	background-image: 
	url('http://placehold.it/300x150'), url('../img/degrade.png');
	background-repeat: no-repeat, repeat;
	background-size: cover,contain;
	background-blend-mode:screen;
	box-shadow:inset 20px 0 20px -6px white;
 }
 .smbox{
 }
 .smbox p{
	display:inline-block;
 }
 .mdescl{
	font-weight:bold;
 }
 #mtitle{
	width:280px;
	height:70px;
	font-size:35px;
	font-weight:bold;
	line-height:0.8;
	overflow-y:hidden;
	position:relative;
	bottom:40px;
	margin-bottom:-45px;
	text-align:center;
 }
 #mcreator{
	 
 }
 #mcreated{
	 
 }
 #muser{
	 
 }
 #mdesc{
	 overflow-y:auto;
	 padding: 5px 10px;
	 border-radius:10px;
	 height:30vh;
	 box-shadow: 0 0 3px 1px #c4c1c0;
 }
 .mdescbtn{
	padding:10px 0;
 }
 .ment{
	background-color:#3dac4c;
	color:white;
	font-size:16px;
	border:none;
	text-align:center;
	height:40px;
	width:135px;
	border-radius:5px;
	float:left;
 }
 .mdlt{
	background-color:#cf2d3a;
	color:white;
	font-size:16px;
	border:none;
	text-align:center;
	height:40px;
	width:135px;
	border-radius:5px;
	/*float:right;*/
 }
 .Pbmesas{
	display:inline-block;
	background-image: url('https://i.pinimg.com/originals/de/f9/70/def97040fcbdd13ee1809d01cc46dc3f.jpg'), url('../img/degrade.png');
	background-repeat: no-repeat, repeat;
	background-size: cover,contain;
	background-blend-mode:screen;
	height:180px;
	width:250px;
	padding:10px;
	margin:10px;
	border-radius:10px;
	box-shadow: 5px 5px 3px #888888;
	transition:0.3s;
 }
 .Pbmesas:hover{
	height:185px;
	width:255px; 
 }
.Pbminfo{
	 width:250px;
	 height:70%;
 }
.Pbmtitle{
	width:230px;
	height:75px;
	font-size:35px;
	font-weight:bold;
	line-height:0.8;
	color:#f1f1f1;
	overflow: hidden;
	transition:0.3s;
	text-align:center;
	text-shadow: 2px 2px 4px #000000;
}
.Pbmesas:hover .Pbmtitle{
	width:235px;
}
.Pbmcreator{
	color:#222;
	font-weight:bold;
	font-family:monospace;
	position:relative;
	top:10px;	
	transition:0.3s;
}
.Pbmesas:hover .Pbmcreator{
	top:15px;
}
.Pbmbutton{
	 width:230px;
	 height:30%;
	 padding-top:20px;
 }
.Pbmbutton p{
	 display:inline;
	 
 }
 .Pbmesas:hover .Pbmbutton{
	 width:235px;
 }
.Pbmenter{
	background-color:#3dac4c;
	border:none;
	text-align:center;
	height:30px;
	width:30px;
	border-radius:5px;
	color:white;
	position:relative;
	left:165px;
	transition:0.3s;
}
.Pbmesas:hover .Pbmenter{
	left:170px;
}
.Pbmenter svg{
	position:relative;
	left:-3px;
	top:-2px;
}
/* Master screen */
#nomemesa{
	border:none;
	font-size:40px;
	color:black;
	font-weight:bold;
	margin-top:10px;
}
#desc{
	margin-top:12px;
	height:400px;
	overflow-y: auto;
	white-space: pre-wrap;
}
#preview{
	height:0px;
	overflow-y: auto;
	//position:relative;
	//bottom:444px;
	//left:0px;
	margin-top:-30px;
	color:gray;
	background-color: #e5e5e5;
	visibility:hidden;
}
#edit{
	margin-top:-30px;
	position:relative;
	top:114px;
	left:95%;
	height:30px;
	line-height:0.5;
	display:block;
	background-color:white;
	border:2px solid #adb5bd;
	border-radius:5px;
	color:gray;
}
#markdownhelp{
	margin-top:10px;
	border-radius: 0 0 10px 10px !important;
}
.tableinputtext{
  display: block;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  box-sizing: border-box;
}
#urlgen{
	height: 50px;
	width:100%;
	font-size:25px;
	font-family:monospace;
	border:1px solid #adb5bd;
	border-radius:10px;
	background-color: #5baf54;
	color:white;
}
#savealter{
	height: 50px;
	width:100%;
	font-size:25px;
	font-family:monospace;
	border:1px solid #adb5bd;
	border-radius:10px;
	background-color: #368dce;
	color:white;
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #0f0f0f;
  border-radius:0 0 5px 5px;
}
::-webkit-scrollbar-track:hover{
  background: #0f0f0f;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f3f3f; 
  border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  
}